       #recipe-list-panel {
            float: left;
            width: 200px;
        }
        
        #recipe-list .ui-selecting {
            background: #FECA40;
        }
        
        #recipe-list .ui-selected {
            background: #4d8ba7;
            color: white;
        }
        
        #recipe-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
        #recipe-list li {
            margin: 3px;
            padding: 0.2em;
            font-size: 1em;
            height: 18px;
        }
        
        #xml-recipe {
            border-collapse: collapse;
            width: 600px;
        }
        
        #xml-recipe table,
        #xml-recipe tr,
        #xml-recipe th,
        #xml-recipe td {
            border: 1px black solid;
        }
        
        #xml-recipe table.subcat {
            width: 100%;
            border-collapse: collapse;
        }
        
        .RA {
            text-align: right;
        }
        
        #recipe-options-panel table {
            text-align: left;
        }
        
        #xml-recipe th {
            background-color: lightgray;
            font-weight: bold;
        }
        
        #xml-recipe .auto_value {
            color: red;
        }
        
        .recipe-note {
            text-align: left;
        }
        
        .color-block {
            width: 18px;
            height: 0;
            padding-bottom: 18px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
        }
        
        #rssi {
            position: relative;
            float: right;
            margin: 0px 16px 0px 0px;
            height: 24px;
            width: 24px;
        }
        
        .rssi-bar {
            position: absolute;
            bottom: 0;
            float: left;
            width: 4px;
            border-radius: 1px;
            background-color: #FFFFFF;
        }
        
        .rssi-bar1 {
            height: 4px;
            left: 0px;
        }
        
        .rssi-bar2 {
            height: 12px;
            left: 6px;
        }
        
        .rssi-bar3 {
            height: 18px;
            left: 12px;
        }
        
        .rssi-bar4 {
            height: 24px;
            left: 18px;
        }
        
        .rssi-bar-inactive {
            opacity: 0.2;
        }
        
        #audioplay {
            position: relative;
            float: right;
            margin: 0px 16px 0px 0px;
            height: 24px;
            width: 24px;
        }
        
        .c {
            text-align: center;
        }
        
        #dialog-wifi div,
        #dialog-wifi input {
            padding: 5px;
            font-size: 1em;
        }
        
        #dialog-wifi input {
            width: 95%;
        }
        
        #dialog-wifi {
            text-align: center;
            font-family: verdana;
        }
        
        #dialog-wifi button {
            border: 0;
            border-radius: 0.3rem;
            background-color: #1fa3ec;
            color: #fff;
            line-height: 2.4rem;
            font-size: 1.2rem;
            width: 100%;
        }
        
        #dialog-wifi .q {
            float: right;
            width: 64px;
            text-align: right;
        }
        
        #dialog-wifi .l {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAALVBMVEX///8EBwfBwsLw8PAzNjaCg4NTVVUjJiZDRUUUFxdiZGSho6OSk5Pg4eFydHTCjaf3AAAAZElEQVQ4je2NSw7AIAhEBamKn97/uMXEGBvozkWb9C2Zx4xzWykBhFAeYp9gkLyZE0zIMno9n4g19hmdY39scwqVkOXaxph0ZCXQcqxSpgQpONa59wkRDOL93eAXvimwlbPbwwVAegLS1HGfZAAAAABJRU5ErkJggg==") no-repeat left center;
            background-size: 1em;
        }
        /* lcd */
        
        canvas {
            image-rendering: optimizeSpeed;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: -o-crisp-edges;
            -ms-interpolation-mode: nearest-neighbor
        }
        
        #lcd {
            background: #adf724;
            image-rendering: pixelated;
            border-radius: 5px;
            /*margin: 1em,*/
        }
        
        #contextmenu {
            position: absolute;
            z-index: 1001;
        }